html,
.btn {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

button,
btn,
.services__element {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.header {
  border-bottom: 1px solid;
  border-bottom-color: #d9fff5;
}

.services,
.services__types {
  background: $back-ground-main-color;
}

.services__menu {
  display: flex;
  background: $back-ground-main-color;
  flex-wrap: wrap;
  gap: 16px 2.9415%;
  padding-top: 24px;
}

.services__element {
  position: relative;
  display: flex;
  align-items: center;
  min-width: 22.0595%;
  height: 72px;
  background: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 6px;
}

.services__button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 100%;
  height: 72px;
  background: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  padding-left: 16px;
  padding-right: 16px;
}

.services__show-more-btn:focus,
.services__button:focus {
  outline: none;
  box-shadow: inset 0px 0px 6px 6px #d9fff5;
}

.services__show-more-btn:focus {
  box-shadow: inset 0px -6px 0px 0px #d9fff5;
}

.services__show-more-btn {
  font-family: 'TT Lakes';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1b1c21;
  padding-left: 32px;
  padding-top: 24px;
  padding-bottom: 34px;
  background-color: $back-ground-main-color;
  white-space: nowrap;
}

.services__show-more-btn::before {
  position: absolute;
  content: ' ';
  background-repeat: no-repeat;
  background-image: url('/src/img/brands1.5/expand.svg');
  transform: translateX(-32px);
  width: 24px;
  height: 24px;
}

.btn--rotate::before {
  position: absolute;
  content: ' ';
  background-repeat: no-repeat;
  background-image: url('/src/img/brands1.5/expand.svg');
  transform: translateX(-32px) rotate(180deg);
  width: 24px;
  height: 24px;
}

@media (min-width: 320px) and (max-width: 354px) {
  .services::after {
    content: ' ';
    position: absolute;
    width: 24px;
    height: 81px;
    background: linear-gradient(
      270deg,
      $back-ground-main-color 16.84%,
      rgba(248, 248, 248, 0.0001) 100%
    );
    z-index: 10;
    left: 93%;
    top: 88px;
  }
}

@media (min-width: 355px) and (max-width: 767px) {
  .services::after {
    content: ' ';
    position: absolute;
    width: 24px;
    height: 81px;
    background: linear-gradient(
      270deg,
      $back-ground-main-color 16.84%,
      rgba(248, 248, 248, 0.0001) 100%
    );
    z-index: 10;
    left: 97%;
    top: 64px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .services__brands,
  .services__types {
    overflow: hidden;
    padding-left: 5%;
  }

  .services__title,
  .types__title {
    padding-left: 5%;
  }

  .services__menu {
    flex-wrap: nowrap;
    padding-top: 16px;
  }

  .services__element {
    min-width: 75%;
  }

  .services__show-more-btn {
    display: none;
  }

  div.swiper-slide {
    display: flex;
    align-items: center;
    height: 72px;
  }

  div.swiper-pagination {
    position: static;
    padding-top: 16px;
    padding-bottom: 32px;
    display: flex;
    justify-content: center;
    column-gap: 4px;
  }

  span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #b5b6bc;
    width: 12px;
    height: 12px;
    opacity: 1;
  }

  span.swiper-pagination-bullet {
    background-color: #dddddd;
    width: 12px;
    height: 12px;
    opacity: 1;
  }
}

@media (min-width: 768px) and (max-width: 1119px) {
  .services__brands,
  .services__types {
    margin-left: auto;
    margin-right: auto;
    padding-left: 2.125%;
  }

  .services__menu {
    height: 190px;
    overflow-y: hidden;
  }

  .services__element {
    min-width: 29.8%;
  }

  .services__menu--open {
    height: auto;
  }

  .services__menu--close {
    height: 190px;
    overflow-y: hidden;
  }
}

@media (min-width: 1120px) {
  .services__element--hide {
    display: none;
  }

  .services__titile {
    padding-left: 2.8575%;
  }

  .services__brands,
  .services__types {
    margin-left: auto;
    margin-right: auto;
    padding-left: 2.8575%;
  }

  .services__menu {
    height: 190px;
    overflow-y: hidden;
  }

  .services__menu--open {
    height: auto;
  }

  .services__menu--close {
    height: 190px;
    overflow-y: hidden;
  }
}
