html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

button,
.btn {
  cursor: pointer;
}

body {
  font-family: 'TT Lakes', 'Arial', sans-serif;
  font-weight: 400;
  font-style: 16px;
  line-height: 19px;
}

.btn--pink {
  background: $pink-background;
  border-radius: 20px;
  height: 40px;
  width: 40px;
  border: none;
  box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.5);
}

.header {
  border-bottom: 1px solid;
  border-bottom-color: $border-bottom-color;
}

.about__show-more-btn {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1b1c21;
  font-weight: bold;
  padding-left: 10px;
  &::before {
    display: inline-block;
    text-align: center;
    content: '';
    @include width-height(15px, 15px);
    background: transparent url(/src/img/all1.3/arrows-dobble.svg);
    background-repeat: no-repeat;
    transform: translateY(5px) rotate(0deg);
    transition: rotate 1s ease-in;
  }
}

.about__show-more-btn--open {
  &::before {
    transform: translateX(-10px) rotate(180deg);
    transition: rotate 1s ease-in;
  }
}

body {
  min-width: 320px;
  overflow-x: hidden;
}

.header {
  background-color: $white-background;
  min-height: 88px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__burger {
  margin-left: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__logo-link {
  margin-left: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-repair {
  margin-right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-checkstatus {
  margin-right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__right-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header__left-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.main__title::before {
  content: '';
  width: 4px;
  height: 40px;
  position: absolute;
  left: 0;
  background: $highlight-color;
}

.main__title {
  font-family: 'TT Lakes';
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  color: #1b1c21;
  padding-bottom: 24px;
  padding-top: 24px;
  padding-left: 16px;
}

.main__title-container,
.menu,
.about {
  background-color: $back-ground-main-color;
}

.menu__list {
  display: flex;
  overflow: scroll;
  column-gap: 8px;
}

.menu__list::-webkit-scrollbar {
  height: 0;
}

.menu__list {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.menu__list-item {
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-family: 'TT Lakes';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #7e7e82;
  height: 40px;
  padding: 8px 9.3px 8px 16.5px;
}

.menu__list-item:focus {
  background-color: $white-background;
  border: 2px solid $focus-active-color;
  border-radius: 6px;
}

.menu__list-item:hover {
  background-color: $white-background;
  border: 2px solid $focus-active-color;
  border-radius: 6px;
}

.menu__list-item:active {
  background-color: $white-background;
  border: 2px solid $focus-active-color;
  border-radius: 6px;
}

.about__text-container {
  padding-bottom: 10px;
}

.about__show-more-btn {
  padding-bottom: 10px;
}

.about__text {
  height: 150px;
  overflow-y: hidden;
  @include transition-height;
}
.about__text--open {
  height: 100%;
  @include transition-height;
}

@media (min-width: 1px) and (max-width: 767px) {
  .btn-call,
  .btn-chat,
  .btn-profile,
  .btn-repair_show-hide,
  .btn-checkstatus_show-hide,
  .btn-repair_show-hide-text,
  .btn-checkstatus_show-hide-text,
  .main__title-buttoms {
    display: none;
  }

  .header::before {
    content: '';
    position: absolute;
    left: 187px;
    width: 2px;
    height: 32px;
    background-color: $divider-color;
    border-radius: 1px;
  }
  .about__image {
    display: flex;
    max-width: 100%;
    object-fit: fill;
    flex-grow: 10;
  }
  .about__image-container {
    display: flex;
    justify-content: center;
  }
  .menu {
    padding-left: 16px;
  }
  .menu__list {
    padding-bottom: 24px;
  }
  .about__text-container {
    padding-left: 16px;
  }
  .about__show-more-btn {
    padding-top: 16px;
    padding-bottom: 10px;
  }
  .about_text {
    font-family: 'TT Lakes';
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1b1c21;
  }
}

@media (min-width: 768px) and (max-width: 1119px) {
  .btn-repair_show-hide,
  .btn-checkstatus_show-hide,
  .btn-repair_show-hide-text,
  .btn-checkstatus_show-hide-text,
  .main__title-buttoms {
    display: none;
  }

  .header::before {
    content: '';
    position: absolute;
    right: 140px;
    width: 2px;
    height: 32px;
    background-color: $divider-color;
    border-radius: 1px;
  }
  .header::after {
    content: '';
    position: absolute;
    left: 92px;
    width: 2px;
    height: 32px;
    background-color: $divider-color;
    border-radius: 1px;
  }
  .header__burger {
    margin-left: 24px;
  }
  .header__logo-link {
    margin-left: 43.73px;
  }
  .btn-checkstatus {
    margin-right: 24px;
  }
  .btn-profile {
    margin-right: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btn-chat {
    margin-right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btn-call {
    margin-right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main__title {
    padding-top: 24px;
    padding-left: 24px;
  }
  .menu {
    padding-left: 24px;
  }
  .menu__list {
    padding-bottom: 32px;
  }
  .about {
    display: flex;
    column-gap: 48px;
  }
  .about__image {
    border-radius: 6px;
    width: 360px;
  }
  .about__image-container {
    padding-right: 25px;
  }
  .about__text-container {
    padding-left: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .about__show-more-btn {
    padding-top: 10px;
    order: 1;
  }
  .about__text {
    font-family: 'TT Lakes';
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #1b1c21;
  }
  .about__text-third {
    padding-top: 20px;
  }
}

@media (min-width: 1120px) {
  .header,
  .about__text-third {
    display: none;
  }
  .main__title-container {
    display: flex;
    justify-content: space-between;
  }
  .main__title {
    padding-bottom: 8.37px;
    padding-top: 42px;
    padding-left: 32px;
    width: 50%;
  }
  .main__title-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 50%;
    padding-bottom: 8.37px;
  }
  .btn-repair {
    margin-right: 160px;
  }
  .btn-repair_show-hide::before {
    content: 'Оставить заявку';
    float: left;
    width: 12%;
    position: absolute;
    right: 280px;
    font-family: 'TT Lakes';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    letter-spacing: -0.2px;
    color: #1b1c21;
  }
  .btn-checkstatus {
    margin-right: 32px;
  }
  .btn-checkstatus_show-hide::before {
    content: 'Статус ремонта';
    float: left;
    width: 11%;
    position: absolute;
    right: 81px;
    font-family: 'TT Lakes';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    letter-spacing: -0.2px;
    color: #1b1c21;
  }
  .btn-repair {
    margin-right: 160px;
  }
  .menu {
    padding-left: 32px;
  }
  .menu__list {
    padding-bottom: 0;
    flex-wrap: wrap;
  }
  .about {
    display: flex;
    column-gap: 36px;
  }
  .about__image {
    border-radius: 6px;
    width: 531.35px;
  }
  .about__image-container {
    padding-right: 28.65px;
  }
  .about__text-container {
    padding-left: 34px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .about__show-more-btn {
    padding-top: 13.78px;
    order: 1;
  }
}
