@media (min-width: 1440px) {
  .wrapper-root {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 320px;
  }
  .aside-menu {
    position: fixed;
    top: 0px;
    left: 50%;
    opacity: 1;
    transform: translateX(-720px);
    width: 320px;
    z-index: 100;
    visibility: visible;
    box-shadow: -16px 0px 52px rgba(14, 24, 80, 0.1);
    transition: all 0.4s ease-out;
    height: 100%;
  }

  .btn-repair_show-hide::before {
    white-space: nowrap;
    transform: translateX(140px);
    position: relative;
  }
  .btn-checkstatus_show-hide::before {
    white-space: nowrap;
    transform: translateX(-60px);
    position: relative;
  }
  img.repair-svg {
    position: relative;
    transform: translateX(-2px);
  }
  img.checkstatus-svg {
    position: relative;
    transform: translateX(-2px);
  }
  .aside-menu__btn-cross {
    display: none;
  }
  .aside-menu__logo {
    margin-left: 0;
  }
}
@media (min-width: 1120px) and (max-width: 1439px) {
}
@media (min-width: 768px) and (max-width: 1119px) {
  .footer {
    padding-left: 24px;
    .not-oferta {
      padding-right: 24px;
    }
  }
  .services__proposal {
    margin-right: 42.06%;
    padding-left: 24px;
  }
  .services__title {
    padding-left: 2.125%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer {
    padding: 0;
    flex-direction: column;
    row-gap: 16px;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 19px;
    .confidential-politics {
      align-self: center;
    }
  }
  .services__proposal {
    margin-right: 5%;
    padding-left: 16px;
    .services__proposal-button {
      max-width: 192px;
      text-align: start;
    }
  }
}
