@media (min-width: 1440px) {
  .wrapper .header {
    display: none;
  }
  .wrapper-root {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 320px;
  }
  .aside-menu {
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translateX(-720px);
    width: 320px;
    z-index: 100;
    visibility: visible;
    box-shadow: -16px 0px 52px rgba(14, 24, 80, 0.1);
    transition: all 0.4s ease-out;
    height: 100%;

    .btn-repair_show-hide::before {
      white-space: nowrap;
      transform: translateX(140px);
      position: relative;
    }
    .btn-checkstatus_show-hide::before {
      white-space: nowrap;
      transform: translateX(-60px);
      position: relative;
    }
    img.repair-svg {
      position: relative;
      transform: translateX(-2px);
    }
    img.checkstatus-svg {
      position: relative;
      transform: translateX(-2px);
    }
    .aside-menu__btn-cross {
      display: none;
    }
    .aside-menu__logo {
      margin-left: 0;
    }
    .aside-menu__header {
      padding-top: 32px;
    }
    .aside-menu__navigation {
      padding-top: 37.19px;
    }
  }
  .main__title-container {
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  .main__title {
    padding-bottom: 8.37px;
    padding-top: 42px;
    padding-left: 32px;
    width: 50%;
  }
  .main__title-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 50%;
    padding-bottom: 8.37px;
  }
  .btn-repair {
    margin-right: 160px;
  }
  .btn-repair_show-hide::before {
    content: 'Оставить заявку';
    float: left;
    width: 12%;
    position: absolute;
    right: 280px;
    font-family: 'TT Lakes';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    letter-spacing: -0.2px;
    color: #1b1c21;
  }
  .btn-checkstatus {
    margin-right: 32px;
    @include display-flex-cent-cent();
  }
  .btn-checkstatus_show-hide::before {
    content: 'Статус ремонта';
    float: left;
    width: 11%;
    position: absolute;
    right: 81px;
    font-family: 'TT Lakes';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    letter-spacing: -0.2px;
    color: #1b1c21;
  }
  .btn-repair {
    margin-right: 160px;
    @include display-flex-cent-cent();
  }
  .menu {
    padding-left: 32px;
  }
  .menu__list {
    padding-bottom: 0;
    flex-wrap: wrap;
  }
  .about {
    display: flex;
    column-gap: 36px;
  }
  .about__image {
    border-radius: 6px;
    width: 531.35px;
  }
  .about__image-container {
    padding-right: 28.65px;
  }
  .about__text-container {
    padding-left: 34px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .about__show-more-btn {
    padding-top: 13.78px;
    order: 1;
  }
  .services__element--hide {
    display: none;
  }

  .services__titile {
    padding-left: 2.8575%;
  }

  .services__brands,
  .services__types {
    margin-left: auto;
    margin-right: auto;
    padding-left: 2.8575%;
  }

  .services__menu {
    height: 190px;
    overflow-y: hidden;
    transition: height 5s ease-in;
  }

  .services__menu--open {
    height: auto;
    transition: height 5s ease-in;
  }

  .services__menu--close {
    height: 190px;
    overflow-y: hidden;
    transition: height 5s ease-in;
  }
}
@media (min-width: 1120px) and (max-width: 1439px) {
  .aside-menu--hidden,
  .aside__container--hidden {
    display: none;
  }
  .aside-menu {
    @include aside-menu;
  }
  .aside__container {
    @include aside__container;
    background-color: $slightly-transparent;
  }
  .aside-menu__navigation {
    padding-bottom: 32px;
  }
  .main__title-buttons,
  .btn-repair_show-hide-text,
  .btn-checkstatus_show-hide-text {
    display: none;
  }
  .header::before {
    content: '';
    position: absolute;
    right: 148px;
    width: 2px;
    height: 32px;
    background-color: $divider-color;
    border-radius: 1px;
  }
  .main__title-container {
    display: flex;
    justify-content: space-between;
  }
  .main__title {
    padding-bottom: 8.37px;
    padding-top: 42px;
    padding-left: 32px;
    width: 50%;
  }

  .header__right-container {
    display: flex;
    align-items: center;
    justify-self: flex-start;

    .btn-call,
    .btn-chat,
    .btn-profile,
    .btn-repair,
    .btn-checkstatus {
      @include display-flex-cent-cent();
      margin-right: 16px;
    }
    .btn-checkstatus {
      margin-right: 32px;
    }
    .btn-profile {
      margin-right: 42px;
    }
  }
  .btn-repair_show-hide::before {
    content: 'Оставить заявку';
    float: left;
    width: 12%;
    position: absolute;
    right: 280px;
    font-family: 'TT Lakes';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    letter-spacing: -0.2px;
    color: #1b1c21;
  }

  .btn-checkstatus_show-hide::before {
    content: 'Статус ремонта';
    float: left;
    width: 11%;
    position: absolute;
    right: 81px;
    font-family: 'TT Lakes';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    letter-spacing: -0.2px;
    color: #1b1c21;
  }
  .btn-repair {
    margin-right: 160px;
  }
  .menu {
    padding-left: 32px;
  }
  .menu__list {
    padding-bottom: 0;
    flex-wrap: wrap;
  }
  .about {
    display: flex;
    column-gap: 36px;
  }
  .about__image {
    border-radius: 6px;
    width: 531.35px;
  }
  .about__image-container {
    padding-right: 28.65px;
  }
  .about__text-container {
    padding-left: 34px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .about__show-more-btn {
    padding-top: 13.78px;
    order: 1;
  }
  .services__element--hide {
    display: none;
  }

  .services__titile {
    padding-left: 2.8575%;
  }

  .services__brands,
  .services__types {
    margin-left: auto;
    margin-right: auto;
    padding-left: 2.8575%;
  }

  .services__menu {
    height: 190px;
    overflow-y: hidden;
    transition: height 5s ease-in;
  }

  .services__menu--open {
    height: auto;
    transition: height 5s ease-in;
  }

  .services__menu--close {
    height: 190px;
    overflow-y: hidden;
    transition: height 5s ease-in;
  }
  .header::after {
    content: '';
    position: absolute;
    left: 79px;
    width: 2px;
    height: 32px;
    background-color: $divider-color;
    border-radius: 1px;
  }
  .header .header__logo-link {
    margin-left: 41px;
  }
}
@media (min-width: 768px) and (max-width: 1119px) {
  .aside-menu--hidden,
  .aside__container--hidden {
    display: none;
  }
  .aside-menu {
    @include aside-menu;
    .footer__menu {
      .btn-call {
        margin-right: 0;
      }
    }
  }
  .aside__container {
    @include aside__container;
  }
  .aside-menu__navigation {
    padding-bottom: 32px;
  }
  .footer {
    padding-left: 24px;
    .not-oferta {
      padding-right: 24px;
    }
  }
  .services__proposal {
    margin-right: 42.06%;
    padding-left: 24px;
  }
  .services__title {
    padding-left: 2.125%;
  }
  .btn-repair_show-hide,
  .btn-checkstatus_show-hide,
  .btn-repair_show-hide-text,
  .btn-checkstatus_show-hide-text,
  .main__title-buttoms {
    display: none;
  }

  .header::before {
    content: '';
    position: absolute;
    right: 132px;
    width: 2px;
    height: 32px;
    background-color: $divider-color;
    border-radius: 1px;
  }
  .header::after {
    content: '';
    position: absolute;
    left: 79px;
    width: 2px;
    height: 32px;
    background-color: $divider-color;
    border-radius: 1px;
  }
  .header__burger {
    margin-left: 24px;
  }
  .header__logo .header__logo-link {
    margin-left: 42px;
  }
  .btn-checkstatus {
    margin-right: 24px;
  }
  .btn-profile {
    margin-right: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btn-chat {
    margin-right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btn-call {
    margin-right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main__title {
    padding-top: 24px;
    padding-left: 24px;
  }
  .menu {
    padding-left: 24px;
  }
  .menu__list {
    padding-bottom: 32px;
  }
  .about {
    display: flex;
    column-gap: 48px;
  }
  .about__image {
    border-radius: 6px;
    width: 360px;
  }
  .about__image-container {
    padding-right: 25px;
  }
  .about__text-container {
    padding-left: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .about__show-more-btn {
    padding-top: 10px;
    order: 1;
  }
  .about__text {
    font-family: 'TT Lakes';
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #1b1c21;
  }
  .about__text-third {
    padding-top: 20px;
  }
  .services__brands,
  .services__types {
    margin-left: auto;
    margin-right: auto;
    padding-left: 2.125%;
    .types__element {
      min-width: 29.8%;
    }
  }

  .services__menu {
    height: 190px;
    overflow-y: hidden;
    transition: height 5s ease-in;
  }

  body
    > div
    > main
    > section.services.brands
    > div
    > div
    > ul
    > .services__element {
    min-width: 29.8%;
  }

  .services__menu--open {
    height: auto;
    transition: height 5s ease-in;
  }

  .services__menu--close {
    height: 190px;
    overflow-y: hidden;
    transition: height 5s ease-in;
  }
}
@media (min-width: 1px) and (max-width: 767px) {
  .prices__header {
    display: none;
  }
  .services__prices div .prices__menu {
    flex-direction: row;
    .prices__element {
      box-sizing: border-box;
      @include width-height(260px, 200px);
      @include flexible(flex, space-between, flex-start, column);
      .services__button {
        margin-left: 0;
        align-self: flex-end;
        position: absolute;
        top: 152px;
      }
      .prices__name,
      .prices__cost,
      .prices__term {
        width: fit-content;
        &::before {
          position: absolute;
          display: inline-block;
          width: fit-content;
          @include font-style(
            TT Lakes,
            14px,
            16px,
            normal,
            0.2px,
            $font-color-gray
          );
          opacity: 0.72;
        }
      }

      .prices__name {
        padding-top: 36px;
        &::before {
          top: 16px;
          content: 'Ремонтные услуги';
        }
      }
      .prices__cost {
        &::before {
          top: 88px;
          content: 'Цена';
        }
      }
      .prices__term {
        padding-bottom: 16px;
        &::before {
          top: 142px;
          content: 'Срок';
        }
      }
    }
  }

  .services__show-more-btn:focus,
  .services__button:focus {
    outline: none;
    box-shadow: none;
    display: none;
  }

  .services__show-more-btn:focus {
    box-shadow: none;
    display: none;
  }

  .modal-feedback__container {
    min-width: 320px;
    .modal-feedback__form-container {
      width: 135.38%;
      .modal-feedback__header {
        padding-top: 104px;
        padding-left: 16px;
        &::after {
          left: 0;
          top: 96px;
        }
      }
      .aside-menu__btn {
        position: absolute;
        top: 24px;
        transform: translateX(16px);
      }
      .modal-feedback__form {
        padding-left: 16px;
        width: 72.73%;
        .modal-feedback__input {
          width: 94.74%;
        }
        .modal-feedback__contract {
          padding-left: 0;
        }
      }
    }
  }

  .modal-call__container {
    min-width: 320px;
    .modal-call__form-container {
      width: 135.38%;
      .modal-call__header {
        padding-top: 104px;
        padding-left: 16px;
        &::after {
          left: 0;
          top: 96px;
        }
      }
      .aside-menu__btn {
        position: absolute;
        top: 24px;
        transform: translateX(16px);
      }
      .modal-call__form {
        padding-left: 16px;
        width: 72.73%;
        .modal-call__input {
          width: 94.74%;
        }
        .modal-call__contract {
          padding-left: 0;
        }
      }
    }
  }

  .aside-menu--hidden,
  .aside__container--hidden {
    display: none;
  }
  .aside-menu {
    @include aside-menu;
    .footer__menu {
      .btn-call {
        @include display-flex-cent-cent;
      }
    }
  }
  .aside__container {
    @include aside__container;
  }
  .aside-menu__navigation {
    padding-bottom: 32px;
  }
  .btn-call,
  .btn-chat,
  .btn-profile,
  .btn-repair_show-hide,
  .btn-checkstatus_show-hide,
  .btn-repair_show-hide-text,
  .btn-checkstatus_show-hide-text,
  .main__title-buttoms {
    display: none;
  }

  .header::before {
    content: '';
    position: absolute;
    left: 187px;
    width: 2px;
    height: 32px;
    background-color: $divider-color;
    border-radius: 1px;
  }
  .about__image {
    display: flex;
    max-width: 100%;
    object-fit: fill;
    flex-grow: 10;
  }
  .about__image-container {
    display: flex;
    justify-content: center;
  }
  .menu {
    padding-left: 16px;
  }
  .menu__list {
    padding-bottom: 24px;
  }
  .about__text-container {
    padding-left: 16px;
  }
  .about__show-more-btn {
    padding-top: 16px;
    padding-bottom: 10px;
  }
  .about_text {
    font-family: 'TT Lakes';
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1b1c21;
  }
  .footer {
    padding: 0;
    flex-direction: column;
    row-gap: 16px;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 19px;
    .confidential-politics {
      align-self: center;
    }
  }
  .services__proposal {
    margin-right: 5%;
    padding-left: 16px;
    .services__proposal-button {
      max-width: 192px;
      text-align: start;
    }
  }
  .services__brands,
  .services__types {
    overflow: hidden;
    padding-left: 5%;
  }

  .services__title,
  .types__title {
    padding-left: 5%;
  }

  .services__menu {
    flex-wrap: nowrap;
    padding-top: 16px;
  }

  .services__element {
    min-width: 75%;
  }

  .services__show-more-btn {
    display: none;
  }

  div.swiper-slide {
    display: flex;
    align-items: center;
    height: 72px;
  }

  div.swiper-pagination__brands,
  div.swiper-pagination__types,
  div.swiper-pagination__prices {
    position: static;
    padding-top: 16px;
    padding-bottom: 32px;
    display: flex;
    justify-content: center;
    column-gap: 4px;
  }

  span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #b5b6bc;
    width: 12px;
    height: 12px;
    opacity: 1;
  }

  span.swiper-pagination-bullet {
    background-color: #dddddd;
    width: 12px;
    height: 12px;
    opacity: 1;
  }
  .about__text {
    height: 88px;
    overflow-y: hidden;
    @include transition-height;
    .about__text-item {
      display: inline-block;
      text-indent: 0;
      text-align: justify;
      padding-bottom: 18px;
      width: 94.75%;
    }
  }
  .about__text--open {
    height: 100%;
    @include transition-height;
  }
}

@media (min-width: 355px) and (max-width: 767px) {
  .aside-menu--hidden,
  .aside__container--hidden {
    display: none;
  }
  .aside-menu {
    @include aside-menu;
  }
  .aside__container {
    @include aside__container;
  }
  .services::after {
    content: ' ';
    position: absolute;
    width: 24px;
    height: 81px;
    background: linear-gradient(
      270deg,
      $back-ground-main-color 16.84%,
      rgba(248, 248, 248, 0.0001) 100%
    );
    z-index: 10;
    left: 97%;
    top: 64px;
  }
}

@media (min-width: 1px) and (max-width: 354px) {
  .aside-menu--hidden,
  .aside__container--hidden {
    display: none;
  }
  .aside-menu {
    @include aside-menu;
  }
  .aside__container {
    @include aside__container;
  }

  .services::after {
    content: ' ';
    position: absolute;
    width: 24px;
    height: 81px;
    background: linear-gradient(
      270deg,
      $back-ground-main-color 16.84%,
      rgba(248, 248, 248, 0.0001) 100%
    );
    z-index: 10;
    left: 93%;
    top: 88px;
  }
}
