@mixin flexible($display, $justify, $align, $direction) {
  display: $display;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin font-style($family, $size, $height, $weight, $spacing, $color) {
  font-family: $family;
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
  color: $color;
  letter-spacing: $spacing;
}

@mixin width-height($width, $height) {
  width: $width;
  height: $height;
}

@mixin padding-left-top($left, $top) {
  padding-left: $left;
  padding-top: $top;
}

@mixin tab-highlight-color() {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@mixin transition-height() {
  transition: all 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

@mixin menu__list-action() {
  background-color: $white-background;
  border: 2px solid $focus-active-color;
  border-radius: 6px;
}

@mixin display-flex-cent-cent() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin aside-menu() {
  position: fixed;
  top: 0px;
  opacity: 1;
  width: 320px;
  z-index: 100;
  visibility: visible;
  box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.1);
  transition: all 0.4s ease-out;
  height: 100%;
}

@mixin aside__container() {
  position: fixed;
  top: 0;
  background-color: #ffffff;
  /* mix-blend-mode: normal; */
  background-color: $slightly-transparent;
  width: 100%;
  height: 100%;
  z-index: 100;
}
