.modal > .modal-call__contract {
  opacity: 0.96;
}

.modal-call__container {
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: $slightly-transparent;
  width: 100%;
  height: 100%;
}

.modal-call__form-container {
  position: fixed;
  background: $white-background;
  opacity: 1;
  height: 100%;
  top: 0;
  left: 70%;
  z-index: 101;
  opacity: 1;
  width: 440px;
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02),
    16px 0px 52px rgba(14, 24, 80, 0.2);
  .modal-call__header {
    @include padding-left-top(32px, 40px);
    padding-bottom: 24px;
    @include font-style(TT Lakes, 24px, 32px, bold, -0.6px, $font-color-black);
  }
}

.modal-call__form {
  box-sizing: border-box;
  @include flexible(flex, center, flex-start, column);
  padding-left: 32px;
  .modal-call__input {
    @include font-style(TT Lakes, 16px, 24px, 500, -0.2px, $font-color-gray);
    margin-bottom: 0px;
    width: 376px;
    height: 48px;
    padding-left: 16px;
    background: $white-background;
    border: 1px solid $divider-color;
    border-radius: 8px;
  }
  .modal-call__message {
    padding-top: 12px;
    height: 118px;
  }
  .modal-call__contract {
    @include font-style(TT Lakes, 14px, 16px, 500, -0.2px, $font-color-gray);
    height: fit-content;
    border: none;
    margin-bottom: 23px;
  }
  .submit__button {
    align-self: flex-end;
    margin-right: 32px;
    @include font-style(
      TT Lakes,
      12px,
      24px,
      normal,
      -0.15px,
      $white-background
    );
    text-transform: uppercase;
    @include width-height(136px, 32px);
    min-width: auto;
    background-color: $pink-background;
    background-image: url('/src/img/all1.6/whiteArrow.svg');
    background-repeat: no-repeat;
    background-position: 115px;
    border: none;
    border-radius: 16px;

    .submit__svg {
      background-image: brightness(0) invert(1);
      filter: brightness(0) invert(1);
    }
  }
}
