$pink-background: #ff3e79;
$highlight-color: #41f6d7;
$white-background: #ffffff;
$divider-color: #eaeaea;
$border-bottom-color: #d9fff5;
$focus-active-color: #b8ffec;
$back-ground-main-color: #f8f8f8;
$font-color-gray: #7e7e82;
$font-color-black: #1b1c21;
$slightly-transparent: rgba(255, 255, 255, 0.96);
$visited-link: #900060;
$border-blocks: 1px solid $border-bottom-color;
