@import './normalize/normalize.scss';

@import './blocks/fonts.scss';
@import './blocks/variables.scss';
@import './blocks/mixins.scss';

@import './blocks/main.scss';
@import './blocks/cps1.3.scss';
@import './blocks/cps1.4.scss';
@import './blocks/cps1.5.scss';
@import './blocks/services__proposal.scss';
@import './blocks/footer.scss';
@import './blocks/services__title.scss';
@import './blocks/services__types.scss';
@import './blocks/prices__header.scss';
@import './blocks/media_request.scss';

@import '../../node_modules/swiper/swiper-bundle.css';
/* $bgColor: #24292e;
$text: #fff;

@font-face {
  font-family: 'Comic';
  src: url('../fonts/comic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

body {
  padding: 1rem;
  margin: 0;
  font-family: Comic, sans-serif;
  background-color: $bgColor;
  color: $text;
} */
